<h1>Listing superheroes</h1>

<table>
  <thead>
    <tr>
      <th>Real name</th>
      <th>Hero name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @superheroes.each do |superhero| %>
      <tr>
        <td><%= superhero.real_name %></td>
        <td><%= superhero.hero_name %></td>
        <td><%= link_to 'Show', superhero %></td>
        <td><%= link_to 'Edit', edit_superhero_path(superhero) %></td>
        <td><%= link_to 'Destroy', superhero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superhero', new_superhero_path %>
